doctype html 
html
  head
    title shashank dance script
    block scripts
    block style
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/j.png")
                | HDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Contact Us]
            li #[a(href="/") Services]
            li #[a(href="/") ClassInfo]
    block content
    footer#footer 
      | Copyright Ⓒ 2019 ShashankdanceAcademy.com | All rights reserved
       
    