doctype html
html 
    head 
      title shashank dance academy
      style 
        include style.css
    body 
        nav#navbar 
            ul
                div#logo
                  img(src="/static/j.png")
                  | HDA 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Contact Us]
                li #[a(href="/") Services]
                li #[a(href="/") ClassInfo]


        section#introSection
            div  Welcome to shashank dance academy 
            div  Eat sleep dance Repeat 
        section#sponsorsSection
            h2  Our  Sponsors
            div#sponsors 
                img(src="/static/g.jpg" ,alt="Sponsor Image",class="spImage")
                img(src="/static/f.jpg" ,alt="Sponsor Image",class="spImage")
                img(src="/static/e.jpg" ,alt="Sponsor Image",class="spImage")
                img(src="/static/c.jpg" ,alt="Sponsor Image",class="spImage")
        
        section#missionSection 
            h2  Our Mission
            div.card 
                h3 Dance Perfection
                div.card-box 
                    div.card-img 
                        img(src="/static/ka.jpg")
                    div.card-content 
                        p This is the best dance academy of the Greater Noida.
            div.card 
                h3 Dance the way you like 
                div.card-box 
                    div.card-img 
                        img(src="/static/sa.jpg")
                    div.card-content 
                        p This is the best dance academy of the Greater Noida.
            div.card 
                h3 Expert Teaching
                div.card-box 
                    div.card-img 
                        img(src="/static/ja.jpg")
                    div.card-content 
                        p This is the best dance academy of the Greater Noida.
        footer#footer 
            | Copyright Ⓒ 2019 ShashankdanceAcademy.com | All rights reserved
        script 
            include index.js 